body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.heading {
  color: green;
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.logout {
  margin-bottom: 20px;
}

.table-container {
  margin-top: 20px;
}

.btn-danger,
.btn-primary {
  margin-right: 10px;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.table-dark th {
  background-color: #343a40;
  color: white;
}
